body{
    background-color: blanchedalmond;
}

.index{
   font-family:"Monospace" ,'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;

}

.pasta{
    width: 300px;
    height: auto;
}

#chefJohn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.return{
    background-color: blanchedalmond;
    font-family:  monospace,'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
}
.spaghetti{
    font-family: "Arial",'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
    font-size: 16px;

}

h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}